@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,900");
/* line 4, ../sass/_base.scss */
html {
  height: 100%;
}

/* line 8, ../sass/_base.scss */
body {
  background: #c94b4b;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4b134f, #c94b4b);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4b134f, #c94b4b);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 18, ../sass/_base.scss */
* {
  box-sizing: border-box;
}

/* line 22, ../sass/_base.scss */
.clearfix:after,
.clearfix:before {
  content: "";
  display: table;
}

/* line 28, ../sass/_base.scss */
.clearfix:after {
  clear: both;
}

/* line 34, ../sass/_base.scss */
.overlay {
  overflow-x: hidden;
  overflow-y: hidden;
  -webkit-transition: all 3s ease-in-out;
  transition: all 3s ease-in-out;
}

/* line 41, ../sass/_base.scss */
.overlay::before {
  content: " ";
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 8;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  -webkit-transition: 3s;
  transition: 3s;
}

/* line 1, ../sass/modules/_login.scss */
.login-page {
  width: 360px;
  padding: 18% 0 0;
  margin: auto;
}

/* line 6, ../sass/modules/_login.scss */
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

/* line 16, ../sass/modules/_login.scss */
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

/* line 27, ../sass/modules/_login.scss */
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #c94b4b;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

/* line 41, ../sass/modules/_login.scss */
.form button:hover, .form button:active, .form button:focus {
  background: #4b134f;
}

/* line 44, ../sass/modules/_login.scss */
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}

/* line 49, ../sass/modules/_login.scss */
.form .message a {
  color: #c94b4b;
  text-decoration: none;
}

/* line 53, ../sass/modules/_login.scss */
.form .register-form {
  display: none;
}

/* line 56, ../sass/modules/_login.scss */
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}

/* line 62, ../sass/modules/_login.scss */
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}

/* line 67, ../sass/modules/_login.scss */
.container .info {
  margin: 50px auto;
  text-align: center;
}

/* line 71, ../sass/modules/_login.scss */
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}

/* line 78, ../sass/modules/_login.scss */
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}

/* line 82, ../sass/modules/_login.scss */
.container .info span a {
  color: #000000;
  text-decoration: none;
}

/* line 86, ../sass/modules/_login.scss */
.container .info span .fa {
  color: #EF3B3A;
}



.login-form p {
  color:#ed5a5a;
  width:110%;
  margin-top:15px;
  margin-bottom:0;
  text-align: center;
  margin-left:-10px;
}